:root {
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
    --border-radius: 8px;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
    --container-width: 1200px;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background: var(--grey);
    color: var(--black);
  }
  
nav {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-xl);
}

nav #addBtn {
    cursor: pointer;
    font-size: 24px;
    padding: var(--spacing-xs) 0;
    border: none;
}

.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--spacing-lg);
    padding: var(--spacing-lg);
}
  
.book {
    border: 2px solid var(--black);
    border-radius: 5px;
    padding: var(--spacing-md);
}
  
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
  

#addBookForm {
    background-color: var(--white);
    padding: 20px;
    border: 2px solid var(--black);
    border-radius: 10px;
    max-width: 800px;
  }
  
input[type="text"],
input[type="number"],
input[type="checkbox"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid var(--black);
    border-radius: 5px;
}

form button {
    border: none;
    cursor: pointer;
}
  
form button:hover {
    opacity: 0.8;
}
  
  @media screen and (max-width: 768px) {
    .library-container {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  
  @media screen and (max-width: 480px) {
    .nav-title {
      font-size: 18px;
    }
    
    #addBtn {
      font-size: 18px;
      padding: 5px;
    }
  }
  